@media (max-width: 576px) {
    .fs-1 {
      font-size: 24px !important;
    }
    .lead {
      font-size: 16px !important;
      font-weight: 600 !important;
      color: white !important;
    }
    .fs-5 {
      font-size: 14px !important;
     
    }
    .btn {
      font-size: 14px !important;
      background-color: rgb(255, 255, 255) !important;
    }
      
    .btn:hover {
        background-color: black !important;
    }
      
    .mt-5 {
        margin-top: 0 !important;
    }

    .search-container {
        display: none !important;
      }
    .everyone {
        display: none !important;
    }

    img{
        backdrop-filter: blur(2px) !important;
    }
  }



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
main {
    flex: 1;
}


nav{
    background-color: rgb(250, 250, 250);
}

nav a{
    color: rgb(62, 62, 62) !important;
    font-weight: 500;
    
}
nav a:hover{
    color: black !important;
}

.clrOnHover:hover {
    color: white !important;
}



.pagination nav {
    
    background-color: transparent !important;
}


.page-item.active .page-link {
    background-color: #f8f9fa !important;
    color: #0d6efd !important;
    
}







  